<event>
<search>
<total_items>3762</total_items>
<page_size>10</page_size>
<page_count>377</page_count>
<page_number>1</page_number>
<page_items/>
<first_item/>
<last_item/>
<search_time>0.036</search_time>
<events>
<event id="E0-001-071072867-1">
<title>German Village Art Walk & Landmarks Talk</title>
<url>
http://columbus.eventful.com/events/german-village-art-walk-landmarks-talk-/E0-001-071072867-1?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
<p>Join in conversations during these free, hour-long guided tours led by expert historians and guides. Whether you live up the street or are visiting from another city, take a walk while taking in the local culture. These unique tours offer a great way to explore the art, history, and architecture of our Columbus neighborhoods. Tours will begin promptly at 6:30. There is no need to register in advance - just show up. Visit columbuslandmarks.org for complete tour information. In case of inclement weather, please call 614-221-0227 for tour status. A recorded message will be left by 6 p.m. on tour days.</p>
</description>
<start_time>2014-07-07 18:30:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-008036171-7</venue_id>
<venue_url>
http://columbus.eventful.com/venues/schiller-statue-/V0-001-008036171-7?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Schiller Statue</venue_name>
<venue_display>1</venue_display>
<venue_address>1069 Jaeger St.</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code/>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9611</latitude>
<longitude>-82.9989</longitude>
<geocode_type>City Based GeoCodes</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-05-24 14:56:52</created>
<owner>evdb</owner>
<modified>2014-05-24 14:56:52</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-069154266-6">
<title>Supervision Series: Ethics of Clinical Supervision</title>
<url>
http://columbus.eventful.com/events/supervision-series-ethics-clinical-supervision-/E0-001-069154266-6?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
Fun events!
</description>
<start_time>2014-07-07 09:00:00</start_time>
<stop_time>2014-07-07 16:00:00</stop_time>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-007395789-9</venue_id>
<venue_url>
http://columbus.eventful.com/venues/midohio-psychological-services-/V0-001-007395789-9?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Mid-Ohio Psychological Services</venue_name>
<venue_display>1</venue_display>
<venue_address>2238 South Hamilton Road</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code>43232</postal_code>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9228</latitude>
<longitude>-82.8763</longitude>
<geocode_type>Zip Code Based GeoCodes</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-04-03 11:35:46</created>
<owner>evdb</owner>
<modified>2014-04-15 12:40:33</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-071805791-3">
<title>Imagine Your Story: Write!</title>
<url>
http://columbus.eventful.com/events/imagine-your-story-write-/E0-001-071805791-3?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
Everyone has a story to tell, but it doesn&#39;t always have to be told with words! Try out some new ways to tell your own stories as we use The Matchbox Diary as our inspiration. Ages 10-17
</description>
<start_time>2014-07-07 14:00:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-007932548-1</venue_id>
<venue_url>
http://columbus.eventful.com/venues/columbus-metropolitan-library-parsons-branch-/V0-001-007932548-1?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Columbus Metropolitan Library, Parsons Branch</venue_name>
<venue_display>1</venue_display>
<venue_address>845 Parsons Avenue</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code/>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9611</latitude>
<longitude>-82.9989</longitude>
<geocode_type>City Based GeoCodes</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-06-14 15:41:06</created>
<owner>evdb</owner>
<modified>2014-06-14 15:41:06</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-071805546-5">
<title>Introduction to Word 2010</title>
<url>
http://columbus.eventful.com/events/introduction-word-2010-/E0-001-071805546-5?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
Learn how to create, edit, format and save simple documents using Microsoft Word 2010. No registration required.
</description>
<start_time>2014-07-07 09:30:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-007932532-0</venue_id>
<venue_url>
http://columbus.eventful.com/venues/columbus-metropolitan-library-main-library-/V0-001-007932532-0?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Columbus Metropolitan Library, Main Library</venue_name>
<venue_display>1</venue_display>
<venue_address>96 S. Grant Avenue</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code/>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9611</latitude>
<longitude>-82.9989</longitude>
<geocode_type>City Based GeoCodes</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-06-14 15:37:06</created>
<owner>evdb</owner>
<modified>2014-06-14 15:37:06</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-071805464-2">
<title>Chulo the Clown - Hola Chulo</title>
<url>
http://columbus.eventful.com/events/chulo-clown-hola-chulo-/E0-001-071805464-2?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
Join Chulo and become part of the show! There will be magic, games, balloons and a lot of laughs. Ages 4-12
</description>
<start_time>2014-07-07 14:30:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-007932545-4</venue_id>
<venue_url>
http://columbus.eventful.com/venues/columbus-metropolitan-library-whitehall-branc-/V0-001-007932545-4?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Columbus Metropolitan Library, Whitehall Branch</venue_name>
<venue_display>1</venue_display>
<venue_address>4371 E. Broad Street</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code/>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9611</latitude>
<longitude>-82.9989</longitude>
<geocode_type>City Based GeoCodes</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-06-14 15:36:05</created>
<owner>evdb</owner>
<modified>2014-06-14 15:36:05</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-071805674-7">
<title>Stephen Knight - The Magic of Reading</title>
<url>
http://columbus.eventful.com/events/stephen-knight-magic-reading-/E0-001-071805674-7?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
A magic program based on books and reading. Highlights include popular storybook characters and literary situations with a magical twist. Ages 4-12
</description>
<start_time>2014-07-07 14:00:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-007932559-7</venue_id>
<venue_url>
http://columbus.eventful.com/venues/columbus-metropolitan-library-hilltop-branch-/V0-001-007932559-7?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Columbus Metropolitan Library, Hilltop Branch</venue_name>
<venue_display>1</venue_display>
<venue_address>511 S. Hague Ave.</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code/>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9611</latitude>
<longitude>-82.9989</longitude>
<geocode_type>City Based GeoCodes</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-06-14 15:38:56</created>
<owner>evdb</owner>
<modified>2014-06-14 15:38:56</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-071805277-8">
<title>COSI: Unsolved Mystery</title>
<url>
http://columbus.eventful.com/events/cosi-unsolved-mystery-/E0-001-071805277-8?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
Use crime scene investigation methods to solve a crime at COSI! This program is limited to 30 participants. Ages 6-11
</description>
<start_time>2014-07-07 14:00:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-001198010-9</venue_id>
<venue_url>
http://columbus.eventful.com/venues/franklinton-branch-library-/V0-001-001198010-9?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Franklinton Branch Library</venue_name>
<venue_display>1</venue_display>
<venue_address>1061 West Town Street</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code>43222</postal_code>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>39.9552942</latitude>
<longitude>-83.0280967</longitude>
<geocode_type>EVDB Geocoder</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-06-14 15:33:18</created>
<owner>evdb</owner>
<modified>2014-06-14 15:33:18</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-067379448-7">
<title>SUSTO</title>
<url>
http://columbus.eventful.com/events/susto-/E0-001-067379448-7?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description></description>
<start_time>2014-07-23 20:00:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-006984435-8</venue_id>
<venue_url>
http://columbus.eventful.com/venues/bossy-grrls-pin-up-joint-/V0-001-006984435-8?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Bossy Grrl's Pin Up Joint</venue_name>
<venue_display>1</venue_display>
<venue_address>2598 N High St</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code>43202</postal_code>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>40.0152566</latitude>
<longitude>-83.0114255</longitude>
<geocode_type>EVDB Geocoder</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-02-18 10:56:19</created>
<owner>evdb</owner>
<modified>2014-06-19 10:22:03</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-070954839-8">
<title>Kate Westfall</title>
<url>
http://columbus.eventful.com/events/kate-westfall-/E0-001-070954839-8?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>More TBA</description>
<start_time>2014-07-07 19:00:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-006984435-8</venue_id>
<venue_url>
http://columbus.eventful.com/venues/bossy-grrls-pin-up-joint-/V0-001-006984435-8?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Bossy Grrl's Pin Up Joint</venue_name>
<venue_display>1</venue_display>
<venue_address>2598 N High St</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code>43202</postal_code>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>40.0152566</latitude>
<longitude>-83.0114255</longitude>
<geocode_type>EVDB Geocoder</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-05-21 16:15:52</created>
<owner>evdb</owner>
<modified>2014-06-19 14:34:41</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
<event id="E0-001-071805591-5">
<title>Alphabet Poetry!</title>
<url>
http://columbus.eventful.com/events/alphabet-poetry-/E0-001-071805591-5?utm_source=apis&utm_medium=apim&utm_campaign=apic
</url>
<description>
The activity will introduce the concept of rhyming words through alphabet letters and pictures from magazines. Students will be challenged to use precut words or pictures that rhyme (such as Red/Bed) to create a collage. Ages 6-11 years.
</description>
<start_time>2014-07-07 14:00:00</start_time>
<stop_time/>
<tz_id/>
<tz_olson_path/>
<tz_country/>
<tz_city/>
<venue_id>V0-001-000599241-3</venue_id>
<venue_url>
http://columbus.eventful.com/venues/northern-lights-branch-/V0-001-000599241-3?utm_source=apis&utm_medium=apim&utm_campaign=apic
</venue_url>
<venue_name>Northern Lights Branch</venue_name>
<venue_display>1</venue_display>
<venue_address>4093 Cleveland Avenue</venue_address>
<city_name>Columbus</city_name>
<region_name>Ohio</region_name>
<region_abbr>OH</region_abbr>
<postal_code>43224</postal_code>
<country_name>United States</country_name>
<country_abbr2>US</country_abbr2>
<country_abbr>USA</country_abbr>
<latitude>40.0520815</latitude>
<longitude>-82.9536630</longitude>
<geocode_type>EVDB Geocoder</geocode_type>
<all_day>0</all_day>
<recur_string/>
<calendar_count/>
<comment_count/>
<link_count/>
<going_count/>
<watching_count/>
<created>2014-06-14 15:37:45</created>
<owner>evdb</owner>
<modified>2014-06-14 15:37:45</modified>
<performers/>
<image/>
<privacy>1</privacy>
<calendars/>
<groups/>
<going/>
</event>
</events>
</search>